<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/index.css"> <!-- Link to your CSS file -->
    <title>Marketplace Messenger App</title>
</head>

<body>
    <div class="messenger">
      <div class="chat" id="chat-container">
      </div>
      <div class="input-box">
        <input type="text" id="msg-in" name="message" placeholder="Type a message...">
        <button type="submit" id="submit-btn">Send</button>
      </div>
    </div>
    <script src="js/message.js"></script>
</body>

</html>